In [31]:
##1-->Reading the Laliga CSV File

import pandas as pd
import numpy as np

dfliga=pd.read_csv("Laliga.csv",header=1)
dfliga.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1

In [32]:
##1-->Replacing the '-' to 0 across the DataFrame

dfrep=dfliga.replace('-',0)
dfrep.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1

In [33]:
##2-->Teams which has statrted playing between 1930-1980

df_debut = dfrep["Debut"].between('1930', '1980', inclusive = True)
dfdt=dfrep[df_debut]
dfdt[['Debut','Team']]

      Debut                 Team
3   1931-32             Valencia
5   1934-35              Sevilla
8   1939-40             Zaragoza
9   1932-33           Real Betis
10  1941-42  Deportivo La Coruna
11  1939-40           Celta Vigo
12  1948-49           Valladolid
14  1944-45       Sporting Gijon
15  1935-36              Osasuna
16  1949-50               Malaga
17  1933-34               Oviedo
18  1960-61             Mallorca
19  1951-52           Las Palmas
21  1941-42              Granada
22  1977-78       Rayo Vallecano
23  1959-60                Elche
25  1935-36             Hercules
26  1961-62             Tenerife
27  1940-41               Murcia
28  1930-31               Alaves
29  1963-64              Levante
30  1974-75            Salamanca
31  1943-44             Sabadell
32  1977-78                Cadiz
34  1941-42            Castellon
37  1962-63              Cordoba
39  1978-79           Recreativo
40  1971-72            Burgos CF
41  1963-64           Pontevedra
46  1947-48            Gimnastic
49  1945-46             Alcoyano
50  1953-54                 Jaen
52  1979-80           AD Almeria
54  1950-51               Lleida
57  1956-57               Condal
58  1951-52      Atletico Tetuan
59  1955-56     Cultural Leonesa

In [34]:
##3-->Getting the Five top Teams from Lalliga Dataframe

df5t=dfrep[['Team','Points']]
df5t['Points']=df5t['Points'].astype('int')
df5t.sort_values(by='Points',ascending=False)
df5t.head(5)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

              Team  Points
0      Real Madrid    4385
1        Barcelona    4262
2  Atletico Madrid    3442
3         Valencia    3386
4  Athletic Bilbao    3368

In [39]:
#4-->Goal Difference Count Function
#Output is a New column Goal difference count
#Maximun and Minimum Goal Difference count


def Goal_diff_count(x):
    dfread=pd.read_csv("Laliga.csv",header=1)
    dfcs=dfread[['Team','GoalsFor','GoalsAgainst']]
    dfrepl=dfcs.replace('-',0)
    dfrepl[['GoalsFor', 'GoalsAgainst']] = dfrepl[['GoalsFor', 'GoalsAgainst']].apply(pd.to_numeric) 
    dfti=dfrepl.set_index('Team')
    dfti['Goal_diff_count']= dfti['GoalsFor'] -dfti['GoalsAgainst']
    print(dfti)
    
    print(dfti['Goal_diff_count'].max())
    print(dfti['Goal_diff_count'].min())
Goal_diff_count('Laliga.csv')

                     GoalsFor  GoalsAgainst  Goal_diff_count
Team
Real Madrid              5947          3140             2807
Barcelona                5900          3114             2786
Atletico Madrid          4534          3309             1225
Valencia                 4398          3469              929
Athletic Bilbao          4631          3700              931
Sevilla                  3680          3373              307
Espanyol                 3609          3889             -280
Real Sociedad            3228          3230               -2
Zaragoza                 2683          2847             -164
Real Betis               2159          2492             -333
Deportivo La Coruna      2052          2188             -136
Celta Vigo               2278          2624             -346
Valladolid               1767          2180             -413
Racing Santander         1843          2368             -525
Sporting Gijon           1753          2152             -399
Osasuna                  1500          1834             -334
Malaga                   1421          1763             -342
Oviedo                   1642          1951             -309
Mallorca                 1182          1371             -189
Las Palmas               1347          1746             -399
Villarreal                892           789              103
Granada                   819          1157             -338
Rayo Vallecano            760          1088             -328
Elche                     750          1022             -272
Getafe                    520           633             -113
Hercules                  716          1050             -334
Tenerife                  619           744             -125
Murcia                    607           992             -385
Alaves                    458           623             -165
Levante                   430           632             -202
...                       ...           ...              ...
Sabadell                  492           720             -228
Cadiz                     393           662             -269
Logrones                  291           489             -198
Castellon                 419           588             -169
Albacete                  320           410              -90
Almeria                   244           366             -122
Cordoba                   285           430             -145
Compostela                199           241              -42
Recreativo                202           296              -94
Burgos CF                 216           310              -94
Pontevedra                165           221              -56
Numancia                  155           253              -98
Eibar                     139           167              -28
Arenas                    227           308              -81
Real Burgos               101           139              -38
Gimnastic                 181           295             -114
Extremadura                62           117              -55
Merida                     70           115              -45
Alcoyano                  145           252             -107
Jaen                      121           183              -62
Real Union                153           184              -31
AD Almeria                 71           116              -45
Europa                     97           131              -34
Lleida                     70           182             -112
Leganes                    36            55              -19
Xerez                      38            66              -28
Condal                     37            57              -20
Atletico Tetuan            51            85              -34
Cultural Leonesa           34            65              -31
Girona                      0             0                0

[61 rows x 3 columns]
2807
-525

In [40]:
#5-->Create a new column with name “Winning Percent” and append it to the data set
#If there are any numerical error, replace it with 0%
#Print the top 5 teams which has the highest Winning percentage

dfrep['GamesWon'] =pd.to_numeric(dfrep['GamesWon'])
dfrep['GamesPlayed']=pd.to_numeric(dfrep['GamesPlayed'])
dfrep['Winning Percent']=dfrep['GamesWon']/dfrep['GamesPlayed'] *100
dfrep.dtypes

dfrep.sort_values(by='Winning Percent',ascending=False)
print(dfrep.iloc[0:,7:].fillna(0).head(5))

  GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth Sixth  \
0       563     5947         3140       33        23     8      8     3     4
1       608     5900         3114       25        25    12     12     4     6
2       775     4534         3309       10         8    16      9     7     6
3       861     4398         3469        6         6    10     11    10     7
4       920     4631         3700        8         7    10      5     8    10

    T    Debut Since/LastApp  BestPosition  Winning Percent
0  79     1929          1929             1        59.630702
1  83     1929          1929             1        57.241130
2  56     1929       2002-03             1        47.475134
3  50  1931-32       1987-88             1        44.557057
4  49     1929          1929             1        43.772629

In [41]:
#6-->Group teams based on their “Best position” and print the sum of their points for all positions
dfbest=dfliga.replace("-",0)
dfbest['Points'] =pd.to_numeric(dfbest['Points'])
dfbest.dtypes

dfbest.groupby('BestPosition')['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64